---
layout: workshop
root: .
venue: Online
address: Online
country: w3
language: en
latlng: -48.876667,-123.393333 
humandate: June 8-9, 2016
humantime: 9:00 am - 4:30 pm (EDT)
startdate: 2016-06-08
enddate: 2016-06-09
instructor: ["Christina Koch", "Rayna Harris"]
helper: []
contact: "ckoch5@wisc.edu"
etherpad: http://pad.software-carpentry.org/2016-06-08-ttt-online
eventbrite:       # optional (insert the alphanumeric key for Eventbrite registration, e.g., "1234567890AB")
prep-repository:  # optional (insert the URL for the repository where the trainees are supposed to submit the PR 
---
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="248px"
  scrolling="auto">
</iframe>
{% endif %}

<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  and <a href="{{site.dc_site}}">Data Carpentry</a>'s mission is to
  help scientists and engineers get more research done in less time
  and with less pain by teaching them basic lab skills for scientific
  computing.  This hands-on two-day workshop covers the basics of
  educational psychology and instructional design, and looks at how to
  use these ideas in both intensive workshops and regular classes. The
  workshop is a mix of lectures and hands-on lessons where you practice
  giving a short lesson using approaches learned and implement some of
  the teaching techniques which we will discuss.  This is training for
  teaching, not technical training; you do not need any particular
  technical background, and we will not be teaching that. This workshop
  is based on the constantly revised and updated
 <a href="{{site.swc_githubio}}/instructor-training/">curriculum</a>.
</p>

<p>
  <strong>Who:</strong> The course is aimed at everyone who is
  interested in becoming a better teacher. In particular, this training
  is aimed at those who want to become Software and Data Carpentry
  instructors, run workshops and contribute to the Carpentry training
  materials.  You don't currently have to be an instructor or a
  teacher to attend this workshop, but you do need to be willing and
  committed to becoming one and to improving your teaching techniques.
</p>

{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
</p>
{% endif %}

<p>
  <strong>Requirements:</strong> Participants should bring a laptop
  that is Internet connected and has a functioning browser.  If you
  have it, a device for recording audio and video (mobile phones and
  laptops are OK) is useful as throughout the two days, we are going to record
  one another teaching in pairs or threes.  It does not have to be
  high-quality, but it should be good enough that you can understand
  what someone is saying.
</p>
<p>
  Please also read the
  <a href="#preparation">Preparation</a> section below.  You will also
  receive some further information before the workshop so please check
  your email.
</p>
<p>
  All participants are also required to abide by
  Software Carpentry's <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<p>
  <strong>Contact</strong>:
  Please email
  {% if page.contact %}
    <a href="mailto:{{page.contact}}">{{page.contact}}</a>
  {% else %}
    <a href="mailto:{{site.contact}}">{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Schedule</h2>


<h3>Day 1</h3>
  <table class="table table-striped">    
    <tr>
      <td class="col-md-1">09:00</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/01-introduction/">Introduction</a>
      </td>
      <td class="col-md-7">
        
          
            How can we describe teaching and learning how to teach?
          
        
      </td>
    </tr>
    
  
    
    
    
    <tr>
      <td class="col-md-1">09:10</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/02-novice/">Novices and Formative Assessment</a>
      </td>
      <td class="col-md-7">
        
          
            What common vocabulary do we need to talk about teaching and learning?<br/>How can we describe the difference in learning between a novice and competent practitioner?
          
        
      </td>
    </tr>
    
  
    
    
    
    <tr>
      <td class="col-md-1">10:30</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/03-coffee/">Morning Coffee</a>
      </td>
      <td class="col-md-7">
        
          Break
        
      </td>
    </tr>
    
  
    
    
    
    <tr>
      <td class="col-md-1">10:45</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/04-performance/">Teaching as a Performance Art</a>
      </td>
      <td class="col-md-7">
        
          
            How do teachers improve?
          
        
      </td>
    </tr>
    
  
    
    
    
    <tr>
      <td class="col-md-1">11:45</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/05-summarize/">Morning Wrap-Up</a>
      </td>
      <td class="col-md-7">
        
          
            What have we learned?
          
        
      </td>
    </tr>
    
  
    
    
    
    <tr>
      <td class="col-md-1">12:00</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/06-lunch/">Lunch</a>
      </td>
      <td class="col-md-7">
        
          Break
        
      </td>
    </tr>
    
  
    
    
    
    <tr>
      <td class="col-md-1">13:00</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/07-memory/">Expertise and Memory</a>
      </td>
      <td class="col-md-7">
        
          
            How can we describe the difference in learning between a novice and expert?<br/>How is memory a limiting factor in learning?
          
        
      </td>
    </tr>
    
  
    
    
    
    <tr>
      <td class="col-md-1">14:15</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/08-coffee/">Afternoon Coffee</a>
      </td>
      <td class="col-md-7">
        
          Break
        
      </td>
    </tr>
    
  
    
    
    
    <tr>
      <td class="col-md-1">14:30</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/09-performance/">Performance Revised</a>
      </td>
      <td class="col-md-7">
        
          
            How does having a concept map change the way you teach?
          
        
      </td>
    </tr>
    
  
    
    
    
    <tr>
      <td class="col-md-1">15:15</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/10-load/">Cognitive Load</a>
      </td>
      <td class="col-md-7">
        
          
            How does inquiry-based learning perform compared to guided learning?<br/>What is cognitive load theory, and what predictions does it make about the effectiveness of different teaching practices?<br/>What is the split-attention effect, and how should it affect the design of teaching materials?
          
        
      </td>
    </tr>
    
  
    
    
    
    <tr>
      <td class="col-md-1">16:05</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/11-summarize/">Afternoon Wrap-Up</a>
      </td>
      <td class="col-md-7">
        
          
            What have we learned?
          
        
      </td>
    </tr>
    
  
     
      
       
        
        
        <tr>
          <td class="col-md-1">16:35</td>
          <td class="col-md-3">Finish</td>
          <td class="col-md-7"></td>
        </tr>
</table>
       
    
<h3>Day 1</h3>
  <table class="table table-striped">    
    
    <tr>
      <td class="col-md-1">09:00</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/12-live/">Live Coding</a>
      </td>
      <td class="col-md-7">
        
          
            How do we teach programming using live coding?
          
        
      </td>
    </tr>
    
  
    
    
    
    <tr>
      <td class="col-md-1">10:15</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/13-coffee/">Morning Coffee</a>
      </td>
      <td class="col-md-7">
        
          Break
        
      </td>
    </tr>
    
    
    <tr>
      <td class="col-md-1">10:30</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/18-motivation/">Motivation and Demotivation</a>
      </td>
      <td class="col-md-7">
        
          
            What motivates and demotivates learners and instructors?
          
        
      </td>
    </tr>
    
    
    
    <tr>
      <td class="col-md-1">11:45</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/16-summarize/">Morning Wrap-Up</a>
      </td>
      <td class="col-md-7">
        
          
            What have we learned?
          
        
      </td>
    </tr>
    
    
    <tr>
      <td class="col-md-1">12:00</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/17-lunch/">Lunch</a>
      </td>
      <td class="col-md-7">
        
          Break
        
      </td>
    </tr>
    
  
    <tr>
      <td class="col-md-1">13:00</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/15-practices/">Carpentry Teaching Practices</a>
      </td>
      <td class="col-md-7">
        
          
            What teaching practices are common to Software and Data Carpentry?
          
        
      </td>
    </tr>

    
    
    <tr>
      <td class="col-md-1">13:45</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/19-objectives/">Learning Objectives</a>
      </td>
      <td class="col-md-7">
        
          
            How can I design effective lessons?
          
        
      </td>
    </tr>
    
  
    
    
    
    <tr>
      <td class="col-md-1">14:30</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/20-coffee/">Afternoon Coffee</a>
      </td>
      <td class="col-md-7">
        
          Break
        
      </td>
    </tr>
    
  
    
    <tr>
      <td class="col-md-1">14:45</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/14-carpentries/">The Carpentries</a>
      </td>
      <td class="col-md-7">
        
          
            What do I need to know about the Software and Data Carpentry organizations?
          
        
      </td>
    </tr>    
    
    
    <tr>
      <td class="col-md-1">15:30</td>
      <td class="col-md-3">
        <a href="http://swcarpentry.github.io/instructor-training/21-summarize/">Afternoon Wrap-Up</a>
      </td>
      <td class="col-md-7">
        
          
            What have we learned?
          
        
      </td>
    </tr>
    
  
  
  
  <tr>
    <td class="col-md-1">16:00</td>
    <td class="col-md-3">Finish</td>
    <td class="col-md-7"></td>
  </tr>
  </table>

{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<h2>Syllabus</h2>

<p>
  Please see <a href="{{site.swc_it_site}}">the course materials website</a> for course material.
</p>

<hr/>

<h2 id="preparation" name="preparation">Preparation</h2>

<p>
  Please read the following before the workshop begins:
</p>
<ol>
  <li><a href="{{site.swc_it_site}}/papers/porter-what-works-2013.pdf">Success in Introductory Programming: What Works?</a></li>
  <li><a href="{{site.swc_it_site}}/papers/guzdial-10-myths-2015.pdf">Top 10 Myths About Teaching Computer Science</a></li>
  <li><a href="{{site.swc_it_site}}/papers/science-of-learning-2015.pdf">The Science of Learning</a></li>
  <li><a href="http://f1000research.com/articles/3-62/v2">Software Carpentry: Lessons Learned</a></li>
</ol>
<p>
  Please also go to the <a href="{{site.swc_site}}/lessons/">Software Carpentry lessons page</a>
  and the <a href="{{site.dc_site}}/lessons/">Data Carpentry lessons page</a>
  to have a look at what we currently teach.
  You are not expected to go through these in detail,
  but it would be helpful if you knew what the major topics are.
</p>
